/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.users-container {
  margin-top: 10rem;
}

.btn {
  display: flex;
  text-decoration: none;
}

.post_count {
  margin-left: 50rem;
}

button {
  border: none;
  
}

.recent-posts {
  list-style-type: none;
}

.bio {
  margin-top: 5rem;
}

.post {
  margin-left: 6.2rem;
}

.profile-photo {
  height: 15rem;
}

.list_users {
  width: 70rem;
  height: 15rem;
}

.comments {
  list-style-type: none;
}

.comments li {
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.post-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.post-btn{
   
    padding: 2rem;
    
}

.btn-container{
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.info-container{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.post-header{
  margin-left:5rem;
  margin-top: 2rem;
}

.nav-container{
  display: flex;
  flex-direction: row;
  float: right;
  margin-top: -5rem;
  margin-right: 5rem;
}

.nav-container-2{
  display: flex;
  flex-direction: row;
  float: right;
  margin-top: -12rem;
  margin-right: 5rem;
}

.form-container{
  margin-top: 5rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.form-group{
  padding-top: 1rem;
}

.form-label{
  font-weight: bold;
}

.like-btn{
  margin-top: -1.8rem;
}

.nav-container-3{
  display: flex;
  flex-direction: row;
  float: right;
  margin-top: -4rem;
  margin-right: rem;

}

.container-post{
  position: relative;
  bottom: 5rem;
  top: 5rem;
  right: 3rem;
}