/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.users-container {
  margin-top: 10rem;
}

.btn {
  display: flex;
  text-decoration: none;
}

.post_count {
  margin-left: 50rem;
}

button {
  border: none;
  margin-left: 50%;
}

.recent-posts {
  list-style-type: none;
}

.bio {
  margin-top: 5rem;
}

.post {
  margin-left: 6.2rem;
}

.profile-photo {
  height: 15rem;
}

.list_users {
  width: 70rem;
  height: 15rem;
}

.comments {
  list-style-type: none;
}

.comments li {
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.post-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
